body {
  margin: 0;
  padding: 0;
}

.header-section {
  height: 750px;
  background-image: url(./01.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.header-section .head-container {
  height: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background-color: rgba(245, 245, 245, 0.09);
}

.header-section .head-container .head-block1 {
  height: 150px;
}

.header-section .head-container .head-block1 p {
  margin: 60px 0 0 250px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 8px;
}

.header-section .head-container .head-block2 {
  height: 150px;
}

.header-section .head-container .head-block2 ul {
  margin: 60px 20px 20px 20px;
  height: 70px;
}

.header-section .head-container .head-block2 ul li {
  list-style-type: none;
  float: left;
  padding: 0 20px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.005s;
          transition-delay: 0.005s;
}

.header-section .head-container .head-block2 ul li:hover {
  color: #d60202;
  cursor: pointer;
}

.header-section .text {
  margin: 280px auto 0 auto;
  height: 320px;
  width: 600px;
  text-align: center;
}

.header-section .text h1 {
  margin: 0;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.header-section .text p {
  margin: 30px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.header-section .text button {
  margin: 50px 60px 60px 60px;
  width: 180px;
  height: 55px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: #ffffff00;
}

.header-section .text button:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.details-section {
  padding: 0;
  height: 300px;
  background-color: #000000ed;
}

.details-section .text {
  margin: auto;
  width: 750px;
  height: 250px;
}

.details-section .text h6 {
  text-align: center;
  margin: 0;
  padding: 100px 0 15px 0;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: white;
}

.details-section .text p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.service-section {
  height: 800px;
}

.service-section .service-head {
  margin: auto;
  width: 600px;
  height: 230px;
  text-align: center;
}

.service-section .service-head h1 {
  margin: 0;
  padding: 100px 0 15px 0;
  font-size: 40px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
}

.service-section .service-head p {
  margin: 0;
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  color: black;
  line-height: 1.5;
  opacity: 0.5;
}

.service-section .service-container {
  margin: 40px auto 0 auto;
  width: 1120px;
  height: 500px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.service-section .service-container .service-block {
  background-color: #ffffff;
  width: 100%;
  height: 170px;
}

.service-section .service-container .service-block .item {
  margin: 10px 0 0 0;
  background-color: #fbfbfb;
  width: 100%;
  height: 160px;
}

.service-section .service-container .service-block .item i {
  margin: -10px 0 0 0;
  padding: 0 20px 10px 0;
  color: #d80606;
  background-color: #fbfbfb;
  font-size: 45px;
}

.service-section .service-container .service-block .item h3 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: black;
}

.service-section .service-container .service-block .item p {
  margin: 10px 50px 0 10px;
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: black;
  opacity: 0.6;
}

.package-section {
  height: 750px;
  background: #464646;
}

.package-section .package-head {
  margin: auto;
  width: 600px;
  height: 200px;
  text-align: center;
}

.package-section .package-head h2 {
  margin: 0;
  padding: 50px 0 15px 0;
  font-size: 40px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: white;
}

.package-section .package-head p {
  margin: 0;
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  color: white;
  line-height: 1.5;
  opacity: 0.8;
}

.package-section .package-container {
  margin: auto;
  width: 1150px;
  height: 400px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.package-section .package-container .package-block {
  border-bottom: 1px solid #353333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: white;
}

.package-section .package-container .package-block .package-block1 {
  height: auto;
  padding: 10px 0 0 0;
}

.package-section .package-container .package-block .package-block1 h4 {
  margin: 0;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.package-section .package-container .package-block .package-block1 p {
  margin: 0;
  padding: 10px;
  text-align: justify;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 2;
  opacity: 0.8;
}

.package-section .package-container .package-block .package-block2 div {
  margin: 15px 25px;
  float: right;
  width: 60px;
  height: 60px;
  background-color: #690505;
}

.package-section .package-container .package-block .package-block2 div p {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Arimo", sans-serif;
}

.package-section .package-container .package-block .package-block2 div p span {
  font-size: 15px;
}

.package-section .package-container .package-block:hover {
  background-color: #ffffff;
}

.package-section .package-container .package-block:hover h4 {
  color: #d80606;
}

.package-section .package-container .package-block:hover .package-block1 p {
  color: black;
}

.package-section .package-container .package-block:hover .package-block2 div {
  background-color: #d80606;
  color: white;
}

.gallery-section {
  height: 700px;
}

.gallery-section .gallery-head {
  margin: auto;
  width: 600px;
  height: 160px;
  text-align: center;
}

.gallery-section .gallery-head h2 {
  margin: 0;
  padding: 30px 0 15px 0;
  font-size: 40px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
}

.gallery-section .gallery-head p {
  margin: 0;
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  color: black;
  line-height: 1.5;
  opacity: 0.5;
}

.gallery-section .gallery-container {
  margin: auto;
  width: 1200px;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-section .gallery-container div {
  width: 100%;
  height: 200px;
}

.gallery-section .gallery-container div img {
  width: 100%;
  height: 200px;
}

.team-section {
  height: 650px;
}

.team-section .team-head {
  margin: auto;
  width: 600px;
  height: 160px;
  text-align: center;
}

.team-section .team-head h2 {
  margin: 0;
  padding: 30px 0 15px 0;
  font-size: 40px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
}

.team-section .team-head p {
  margin: 0;
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  color: black;
  line-height: 1.5;
  opacity: 0.5;
}

.team-section .team-container {
  margin: auto;
  display: -ms-grid;
  display: grid;
  height: 450px;
  width: 1100px;
  grid-column-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.team-section .team-container .team-block {
  height: 100%;
  width: 100%;
}

.team-section .team-container .team-block img {
  margin: 15px 50px;
  height: 170px;
  width: 160px;
}

.team-section .team-container .team-block h5 {
  margin: 10px;
  text-align: center;
  font-size: 24px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
}

.team-section .team-container .team-block h6 {
  margin: 0 0 20px 0;
  font-size: 15px;
  text-align: center;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: #d80606;
  cursor: text;
}

.team-section .team-container .team-block p {
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
  opacity: 0.5;
}

.team-section .team-container .team-block ul {
  margin: 15px auto;
  padding: 0;
  width: 148px;
  height: 60px;
  text-align: center;
}

.team-section .team-container .team-block ul li {
  margin: 10px 4px 0 7px;
  width: 32px;
  height: 32px;
  text-align: center;
  list-style-type: none;
  color: #d80606;
  float: left;
  border: 2px solid #d80606;
}

.team-section .team-container .team-block ul li i {
  margin: 7.5px 0 0 0;
  font-size: 15px;
}

.team-section .team-container .team-block ul li:hover {
  cursor: pointer;
  color: white;
  background-color: #d80606;
  border: 2px solid #d80606;
}

.sliding-section {
  height: 300px;
  background-color: #000000ed;
}

.sliding-section div {
  margin: auto;
  width: 1000px;
  height: 250px;
}

.sliding-section div p {
  margin: 0;
  padding: 70px 0 0 0;
  text-align: center;
  font-size: 18px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: white;
}

.sliding-section div h6 {
  margin: 30px 0;
  text-align: center;
  font-size: 14px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-section {
  height: 780px;
}

.contact-section .contact-head {
  margin: auto;
  width: 600px;
  height: 250px;
  text-align: center;
}

.contact-section .contact-head h2 {
  margin: 0;
  padding: 120px 0 15px 0;
  font-size: 40px;
  font-family: "Livvic", sans-serif;
  font-weight: normal;
  color: black;
}

.contact-section .contact-head p {
  margin: 0;
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  color: black;
  line-height: 1.5;
  opacity: 0.5;
}

.contact-section .form-block {
  margin: auto;
  height: 500px;
  width: 800px;
}

.contact-section .form-block div {
  height: 65px;
  padding: 10px;
}

.contact-section .form-block div input {
  margin: auto;
  height: 50px;
  width: 780px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.contact-section .form-block div input::-webkit-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block div input:-ms-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block div input::-ms-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block div input::placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block div button {
  margin: 0 320px;
  width: 120px;
  height: 50px;
  background: #d80606;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Arimo", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid #ff0000;
  border-radius: 2px;
}

.contact-section .form-block div button:hover {
  color: #d80606;
  cursor: pointer;
  background: #cccccc;
  border: 0;
}

.contact-section .form-block textarea {
  margin: 10px;
  height: 150px;
  width: 780px;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
}

.contact-section .form-block textarea::-webkit-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block textarea:-ms-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block textarea::-ms-input-placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.contact-section .form-block textarea::placeholder {
  margin: 0;
  padding: 20px 30px;
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  color: black;
  opacity: 0.5;
}

.footer-section {
  height: 300px;
}

.footer-section div {
  margin: auto;
  width: 1200px;
}
/*# sourceMappingURL=style.css.map */