body {
    margin: 0;
    padding: 0;
}

.header-section {
    height: 800px;
    background-image: url(01.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.head-container {
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(245, 245, 245, 0.09);
}

.head-block {
    height: 150px;
}

.head-block p {
    margin: 60px 0 0 80px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 8px;
}

.head-block ul li {
    list-style-type: none;
    float: left;
    padding: 30px 0 0 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

.details-section {
    height: 150px;
    background-color: rgb(231, 165, 79);
}

.service-section {
    height: 600px;
    background-color: rgb(183, 139, 224);
}

.package-section {
    height: 800px;
    background-color: rgb(196, 201, 124);
}

.gallery-section {
    height: 400px;
    background-color: rgb(199, 136, 120);
}

.team-section {
    height: 800px;
    background-color: rgb(201, 126, 182);
}

.sliding-section {
    height: 200px;
    background-color: rgb(154, 204, 212);
}

.contact-section {
    height: 200px;
    background-color: rgb(93, 182, 141);
}

.footer-section {
    height: 150px;
    background-color: rgb(89, 114, 167);
}